body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
}

.kepek img{
    width: 600px;
}

main{
    margin: auto;
}

h3{
    padding: 10px;
    border: solid black 2px;
    height: 30px;
}

.adatok {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.masikadatok{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid 1px grey;
}
